<h1>☆Today Lotto ☆</h1>  


<%= image_tag @image_choice_number1 %>
<%= image_tag @image_choice_number2 %>
<%= image_tag @image_choice_number3 %>
<%= image_tag @image_choice_number4 %>
<%= image_tag @image_choice_number5 %>
<%= image_tag @image_choice_number6 %>
